.footer {
    background-color: black;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0%;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 30% 100%;
    border-top-right-radius: 30% 100%;
    z-index: 5;
}

.dec {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans';
}