body {
    background-color: #404040;
    text-justify: auto;
    text-indent: 10px;
    color: white;
    line-height: 20px;
}

h1 {
    text-align: center;
}

.container {
    border-style: solid;
    border-radius: 1em;
    border-color: black;
}

.premier {
    display: inline-block;
    background-color: rgb(19, 33, 39);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.deuxieme {
    display: inline-block;
    margin: 20px 20px 20px 20px;
    z-index: 3;
    font-family: serif;
    background-color: #02126b;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    height: 60%;
}

.image1 {
    float: left;
    width: 20%;
    min-height: 50%;
    margin-right: 25px;
    margin-bottom: 10px;
}

.image2 {
    float: right;
    width: 10%;
}

em {
    font-weight: bold;
}

@media screen and (max-width:600px) {
    
    .image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 50%;
        min-height: 50%;
    }
    .image2 {
        display: block;
        float: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    em {
        font-weight: bold;
    }
}

